*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: fantasy;
  color: #fff;
  background-color: #b9540c;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.reverse {
  rotate: 180deg !important;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-family: "Cinzel Decorative", serif;
  font-size: 2.8rem;
  text-align: center;
}

.main-content {
  padding: 0px 80px 30px 80px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.characters {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 15px;
  column-gap: 30px;
  grid-auto-rows: 1fr;

  @media (width >= 500px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width >= 700px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.character {
  box-shadow: 2px 2px 7px #000;
  background-color: #331c0e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.character__portrait {
  height: auto;
}

.character__info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;
  justify-content: space-between;
  height: 100%;
}

.character__name {
  font-weight: 400;
  padding: 0px;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 5px;
}

.character__state-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
}

.character__state {
  display: flex;
  gap: 5px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s;
  opacity: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &:hover {
    opacity: 1;
  }
}

.emoji {
  font-size: 1rem;
  text-align: right;
}
