*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.root {
  margin: 0;
}

.main-content {
  margin: 0;
  padding: 0px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  display: flex;
  justify-content: center;
}

.main-title {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 2.8rem;
}

.characters-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  row-gap: 15px;
  column-gap: 30px;
}

.character-card {
  box-shadow: 2px 2px 7px #000;
  border-radius: 5px;
  color: #fff;
  padding: 0px;
  margin: 0;
  background-color: #331c0e;
}

.character-card__info {
  width: 100%;
  padding: 30px 20px 20px 20px;
  border-radius: 0px 0px 5px 5px;
}

.character-name {
  margin: 0;
}
